*{
	margin:		0px;
	padding:	0px;
	outline:	solid 1px black;
}
#sprites {
	display:	inline-block;
	width:		65%;
}
#info {
	position:	absolute;
	display:	inline-block;
	vertical-align:	top;
	height:		85%;
	width:		30%;
}
#name {
	text-align:	center;
	text-transform:	capitalize;
}
#info img{
	margin:		0 auto;
}
#info b {
	display:	none;
}
