*{
	margin:		0px;
	padding:	0px;
/*	outline:	solid 1px black;*/
}
.menu{ 
	position:	fixed;	
}
div#main_container{
	margin:		0!important;
}
nav {
	position: sticky!important;
}
#sprites img{
	border-radius:	40px;
}
#info {
	position:		fixed;
	right:			1%;
	top:			70px;
	vertical-align:		top;
	height:			60%;
	border-radius:		20px;
	border:			5px solid gray;
	text-transform:		capitalize;
}
#name {
	text-align:	center;
/*	text-transform:	capitalize;*/
}
#info img{
	margin:			0 auto;
	width:			40%;
	image-rendering:	pixelated;
}
#info b		{display:	none}
#info ul li	{margin-left:	20px;}
