@charset "UTF-8";
* {
	margin:		0;
	padding:	0;
}
header {
	padding:	20px;
	text-align:	center;
}
.row {
	margin-bottom:	-4px;
	display:	flex;
	justify-content:	center;
}
.tile {
	height:		50px;
	width:		50px;
	flex-shrink:	1;
}
.tile1 {
	background-color:	black;
}
.tile2 {
	background-color:	gray;
}